openapi: 3.0.1
info:
  title: service
  description: 'seventh-project'
  termsOfService: http://swagger.io/terms/
  contact:
    email: wtrmorioka@outlook.jp
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://express.management
tags:
- name: Photo
  description: image files
  externalDocs:
    description: Find out more
    url: http://swagger.io
paths:
  /image:
    post:
      tags:
      - Photo
      summary: Upload image files
      operationId: uploadImage
      requestBody:
        description: 画像アップロード
        content:
          image/*:
            schema:
              type: string
              format: binary
          # application/json:
          #   schema:
          #     $ref: '#/components/schemas/Image'
          # application/xml:
          #   schema:
          #     $ref: '#/components/schemas/Image'
        required: true
      responses:
        200:
          description: ok
        # 400:
        #   description: Invalid ID supplied
        #   content: {}
        # 404:
        #   description: Pet not found
        #   content: {}
        # 405:
        #   description: Validation exception
        #   content: {}
      # security:
      # - firebase_auth:
      #   - write:pets
      #   - read:pets
components:
  schemas:
    Image:
      type: object
      properties:
        id:
          type: integer
          format: int64
        petId:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          enum:
          - placed
          - approved
          - delivered
        complete:
          type: boolean
          default: false
      xml:
        name: Image
  securitySchemes:
    firebase_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://petstore.swagger.io/oauth/dialog
          scopes:
            write:pets: modify image files in your account
            read:pets: read your image files
    api_key:
      type: apiKey
      name: api_key
      in: header
